*{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    background-color: #A3A289;
}
.btn:hover, a:hover {
    color: #e3e1bfaa!important;
}

.navbar {
    background-color: #636354;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

}

.btn, .signup {
   
    color: black;
    background-color: #F0EEC9;
}

.btn:hover, .signup:hover {
    background-color: #f0eec92c;
}

.banner {
    background-image: url(/media/photobanner.jpeg);
    background-size: cover;
    background-position: -50px;
    height: 50vh;

    .banner-text {
      color: white;
      padding-top: 5vh;
    
    }
}

  .items-grid img {
    max-width: 100%;
  }

  .profile {
    background-color: #636354;
    height: 40vh;
  }

  .item {
    background-color: #636354;
    height: 15vh;
    width: 15vw;
    background-size: contain;
  }
 