body {
    background-color: #A3A289;
}
.btn:hover, a:hover {
    color: #e3e1bfaa!important;
}

.navbar {
    background-color: #636354;
}

.btn, .signup {
    width: 6vw;
    color: black;
    background-color: #F0EEC9;
}

.btn:hover, .signup:hover {
    background-color: #f0eec92c;
}