*{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

#preloader {
  position: fixed;
  z-index: 9999;
  background: black url(/media/loader.gif) no-repeat center;
  background-size: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
    background-color: #F0EFEB;
}

 a:hover {
    color: #a0a0a0aa!important;
}

.navbar {
    background-color: #D4D4D4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    z-index: 999;

}

.btn2, .signup {
   
    color: black;
    background-color: #85858500;
}

.signup:hover {
    color: #a0a0a0aa;
}

.banner {
    background-image: url(/media/photobanner.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;

    .banner-text {
      color: black;
      padding-top: 8vh;
    
    }
}


.fadein img{
  cursor: pointer;
  transition: 1s ease;
  }
  
  .fadein img:hover{
  opacity:0.6;
  transition: 1s ease;
  }

  .items-grid img {
    max-width: 110%;
    height: 90%;
    object-fit: cover;
  }

  .modalImg {
    width: 100%;
  }

  .profile {
    background-color: #D4D4D4;
    height: 40vh;
  }

  .item {
    width: 15vw;
    height: 15vh;
    
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

 
  .footer {
    background-color: #D4D4D4;
  }

  